@import "tailwindcss";

/* Declaramos variables y estilos base en el layer "base" */
@layer base {
  :root {
    /* Colores */
    --color-primary: #002855;
    --color-secondary: #0F3C84;
    --color-tertiary: #0E4AB4;
    --color-black: #18192E;
    --color-gray-fondo: #f5f5f5;
    --color-gray-100: #e5e5e5;
    --color-gray-75: #f0f0f0; /* Un gris más claro */
    --color-gray-50: #f7f7f7; /* Aún más claro */
    --color-gray-25: #fcfcfc; /* Casi blanco */
    --color-red: #ED1C24;
    --color-red-light: #FF242B;
    --color-yellow: #FFDD00;
    --color-yellow-light: #FFE033;
    

    /* Fuente y estilos globales */
    --primary-font: "Montserrat", sans-serif;
    font-family: var(--primary-font);
    margin: 0;
    padding: 0;
    height: 100%;
 
  }
}

/* Componentes */
@layer components {
  .boton1 {
    @apply px-4 py-2 text-white font-bold rounded-lg shadow-lg transition-all duration-300 cursor-pointer;
    background-color: var(--color-primary);
  }
  .boton1:hover {
    background-color: var(--color-secondary);
  }

 .input {
    @apply text-sm w-full border border-gray-300 rounded px-3 py-2 focus:outline-none focus:ring-0 focus:border-2 focus:border-[#0E4AB4];
 }
 
  /* Scrollbar personalizado */
.scrollbar-thin {
  scrollbar-width: thin;
  scrollbar-color: #002855 #f1f1f1;
}
  /* Scrollbar personalizado */
  .scrollable-container {
    scrollbar-width: thin; 
    scrollbar-color: #002855 #f1f1f1; 
  }

  .scrollable-container::-webkit-scrollbar {
    width: 8px;
  }

  .scrollable-container::-webkit-scrollbar-thumb {
    background-color: #002855;
    border-radius: 4px;
  }

  .scrollable-container::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    border-radius: 4px;
  }
  .scroll-padding-fix {
    padding-right: 1.5rem; 
    scrollbar-gutter: stable;
  }
  .icon-size {
    width: 1.5rem;
    height: 1.5rem;
  }
  
  @media (min-width: 768px) {
    .icon-size {
      width: 2rem;
      height: 2rem;
    }
  }

  /*Botones*/
  .cancel{
    @apply  text-center w-26 md:w-35 text-xs sm:text-sm font-semibold text-black h-[40px] rounded-none px-5 cursor-pointer drop-shadow-sm tracking-[0.05rem] bg-gray-100 hover:bg-gray-50;
  }
  .delete{
    @apply   text-center w-26 md:w-35 text-xs sm:text-sm font-semibold text-white h-[40px] rounded-none px-5 cursor-pointer drop-shadow-sm tracking-[0.05rem] hover:bg-[#e40004ab] bg-[#E40004] ;
  }
  .create{
    @apply   text-center w-26 md:w-35 text-xs sm:text-sm font-semibold text-white h-[40px] rounded-none px-5 cursor-pointer drop-shadow-sm tracking-[0.05rem] hover:bg-[#0E4AB4] bg-[#002855] ;
  }
  .content-user-config {
    @apply grid md:flex sm:grid sm:grid-cols-1 grid-cols-1 md:justify-between border-b pb-2 w-full items-center justify-center;
    border-bottom-color: var(--color-primary);
  } 
  /*Tabla*/
  .table{
    @apply w-full text-xs md:text-sm text-left border-separate border-spacing-y-2 border-spacing-x-3;
  }
  .thead{
    @apply text-sm md:text-base font-bold border-b-1 border-[#0E4AB4] h-8;
  }

  .tbody{
    @apply h-full;
  }

  /*Sidebar button*/
  .sidebarbutton{
    @apply flex flex-row items-center gap-3 px-4 py-2 text-sm transition-all duration-200 ease-in-out transform will-change-transform hover:bg-[#f0f0f0] hover:scale-[1.05]  focus:outline-none focus:ring-0
  }

}
